a {
    text-decoration: none !important;
}

.btn-body{
    height: 50px;
    width: 250px;
    padding:  10px 30px;
    display: flex;
    align-items: center;
    color: white;
    border-radius: 5px;
    transition: all 0.2s ease;
    gap: 10px;
    cursor: pointer;
}

.btn-body.active{
    color: #fff;
    background-color: #37b589;
    transform: scale(1.05);

}

.btn-body:hover{
    color: #fff;
}

.btn-title{
    margin: 4px auto;
    font-weight: 600;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
}
